
.content{
  width: 745px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  display: inline-block;
}

.section {
  display: flex;

  font-size: 14px;
  width: 745px;
  height: 72px;

  padding: 16px;
  justify-content: space-between;
  align-items: center;
  text-align: left;

  border-radius: 8px;

  margin-top: 15px;
}

.text {
  padding: 12px;
  text-align: left;
}

.section > button {
  background-color: transparent;
  border: none;
  color: var(--gray-300);
  cursor: pointer;
}
