.container {
  width: 100%;
  position: absolute;

  top: 10rem;

  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  display: inline-block;
}

.input {
  height: 54px;
  width: 638px;
  padding: 0 1.4rem;
  height: 3.85rem;
  border-radius: 8px;
  border: none;
  font-size: 1.14rem;

  color: var(--gray-300);
  background-color: var(--gray-500);
}

.button {
  width: 90px;
  height: 54px;

  margin-left: 20px;

  background-color: var(--blueDark);
  border-radius: 8px;
  border: none;  
}

.button a {
  font-size: 1rem;

  font-weight:  bold;
  color: var(--gray-100);

  display: block;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

.button:hover {
  background-color: var(--blue);
}