.container {
  width: 100%;
  position: absolute;

  top: 10rem;

  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  display: inline-block;
}

.input {
  height: 54px;
  width: 638px;
  padding: 0 1.4rem;
  height: 3.85rem;
  border-radius: 8px;
  border: none;
  font-size: 1.14rem;

  color: var(--gray-300);
  background-color: var(--gray-500);
}

.button {
  width: 90px;
  height: 54px;
  margin: 15px;
   
  font-weight:  bold;
  font-size: 1rem;
  border-radius: 8px;
  border: none;  
  cursor: pointer;

  align-items: center;
  justify-content: space-between;
  text-align: center;

  background-color: var(--blueDark);
  color: var(--gray-100);
}

.button:hover {
  background-color: var(--blue);
}


.button[type=submit]:disabled {
  opacity: 0.7;
  background-color: var(--blueDark);
  cursor: not-allowed;
}

.descripion {
  width: 745px;
  margin-top: 64px;
  
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  display:inline-flex;
}

